.bg-teal {
  background: linear-gradient(
    to bottom,
    var(--secondary) 90%,
    var(--secondary-lightened) 100%
  );
}
.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(165, 233, 225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navbar-nav {
  align-items: center;
}
.hello-user {
  color: var(--primary);
  font-weight: 600;
}
.custom-link {
  cursor: pointer;
  height: fit-content;
}
.custom-link > span {
  color: var(--primary);
  font-weight: 600;
}
.custom-link.active > span {
  color: white;
}
.custom-link.active,
.custom-link.active:hover {
  background-color: var(--primary-darkened);
  border-radius: 1rem;
}
.custom-link:hover {
  background-color: var(--secondary);
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  color: var(--primary) !important;
}
