<div>
  <form (ngSubmit)="send()" #myForm="ngForm">
    <!-- Destination Input: -->
    <label for="vacationDestination">Destination:</label>
    <input
      type="text"
      name="vacationDestination"
      #destinationBox="ngModel"
      [(ngModel)]="vacation.destination"
      required
      minlength="2"
      maxlength="20"
    />
    <span *ngIf="destinationBox.touched && destinationBox.errors" class="error">
      <span *ngIf="destinationBox.errors?.['required']" class="error"
        >Missing destination</span
      >
      <span
        *ngIf="!destinationBox.errors?.['required'] && destinationBox.errors?.['minlength']"
        class="error"
        >Destination has to be longer than one character</span
      >
      <span
        *ngIf="!destinationBox.errors?.['required'] && !destinationBox.errors?.['minlength'] && destinationBox.errors?.['maxlength']"
        class="error"
        >Destination cannot be longer than 20 characters</span
      >
    </span>

    <!-- Description Input: -->
    <label for="vacationDescription">Description:</label>
    <textarea
      type="text"
      name="vacationDescription"
      #descriptionBox="ngModel"
      [(ngModel)]="vacation.description"
      required
      minlength="2"
      maxlength="1000"
    ></textarea>

    <span *ngIf="descriptionBox.touched && descriptionBox.errors" class="error">
      <span *ngIf="descriptionBox.errors?.['required']" class="error"
        >Missing description</span
      >
      <span
        *ngIf="!descriptionBox.errors?.['required'] && descriptionBox.errors?.['minlength']"
        class="error"
        >Description has to be longer than one character</span
      >
      <span
        *ngIf="!descriptionBox.errors?.['required'] && !descriptionBox.errors?.['minlength'] && descriptionBox.errors?.['maxlength']"
        class="error"
        >Description cannot be longer than 1000 characters</span
      >
    </span>

    <!-- Start Date Input: -->
    <label for="startDate">Start Date:</label>
    <input
      type="date"
      name="startDate"
      #startDateBox="ngModel"
      [(ngModel)]="formattedStartDate"
      required
    />
    <span
      *ngIf="startDateBox.touched && startDateBox.errors?.['required']"
      class="error"
      >Missing start date.</span
    >

    <!-- End Date Input: -->
    <label for="endDate">End Date:</label>
    <input
      type="date"
      name="endDate"
      #endDateBox="ngModel"
      [(ngModel)]="formattedEndDate"
      required
    />
    <span
      *ngIf="endDateBox.touched && endDateBox.errors?.['required']"
      class="error"
      >Missing end date.</span
    >
    <span *ngIf="endDateBox.touched && !validateDates()" class="error"
      >End date must be later than start date.</span
    >

    <!-- Price Input: -->
    <label for="price">Price:</label>
    <input
      type="number"
      name="price"
      #priceBox="ngModel"
      [(ngModel)]="vacation.price"
      required
      min="0"
    />
    <span *ngIf="priceBox.touched && priceBox.errors" class="error">
      <span *ngIf="priceBox.errors?.['required']" class="error"
        >Missing price</span
      >
      <span
        *ngIf="!priceBox.errors?.['required'] && priceBox.errors?.['min']"
        class="error"
        >Price cannot be negative.</span
      >
    </span>

    <!-- Image Input -->
    <div class="image-upload-container">
      <div
        [ngStyle]="{
          'background-image':
            'url(' +
            (selectedImageUrl?.length ? selectedImageUrl : vacation?.imageUrl) +
            ')'
        }"
        class="image-thumbnail"
      >
        <button type="button" (click)="fileInput.click()">Replace Image</button>
      </div>

      <input
        type="file"
        name="image"
        (change)="onFileSelected($event)"
        [(ngModel)]="mockImageValue"
        #imageInput="ngModel"
        #fileInput
        required
      />
      <span *ngIf="imageError" class="error">{{ imageError }}</span>
      <span *ngIf="imageInput.touched && !image" class="error"
        >Missing image</span
      >
    </div>

    <!-- Buttons: -->
    <a [routerLink]="['/home']">
      <button type="button" class="discard">Discard</button></a
    >
    <button type="submit" [disabled]="!isFormValid()">Submit Changes</button>
  </form>
</div>
