<div class="about-container" customStyle [mobileStyle]="{ padding: '2rem' }">
  <h3 customStyle [mobileStyle]="{ fontSize: '2rem' }">About The Project</h3>
  <p>
    This website is my final assignment for my studies at John Bryce Academy.
    <br />Built in Node.js and Angular, it incorporates various different
    technologies, techniques and libraries. <br />The project is fully
    responsive, ensuring seamless functionality on both computers and mobile
    devices.
  </p>
  <a href="">🔗Backend's Repository in GitHub</a>
  <a href="">🔗Frontend's Repository in GitHub</a>
  <div
    customStyle
    [mobileStyle]="{
      gridTemplateColumns: '1fr',
      gap: '2rem',
      width: '100%',
      alignItems: 'center',
      justifyContent: 'center'
    }"
    class="body"
  >
    <div class="technologies">
      <h4>Technologies Used</h4>
      <div class="icon-title-pair">
        <img src="../../../../assets/typeScript.png" />
        <h6>typeScript</h6>
      </div>
      <div class="icon-title-pair">
        <img src="../../../../assets/anguler-favicon.ico" />
        <h6>Angular</h6>
      </div>
      <div class="icon-title-pair">
        <img src="../../../../assets/node.png" />
        <h6>Node.js</h6>
      </div>
      <div class="icon-title-pair">
        <img src="../../../../assets/express.png" />
        <h6>Express</h6>
      </div>
      <div class="icon-title-pair">
        <img src="../../../../assets/mongo.png" />
        <h6>MongoDB</h6>
      </div>
    </div>
    <div class="contact-me">
      <h3>Jonathan Ribak</h3>
      <img src="../../../../assets/myPic.jpg" class="my-image" />
      <div class="contacts">
        <a
          href="https://mail.google.com/mail/?view=cm&to=yonch.baalil@gmail.com"
          target="_blank"
          ><img src="../../../../assets/email.jpg"
        /></a>
        <a
          href="https://linkedin.com/in/jonathan-ribak-546686110"
          target="_blank"
          ><img src="../../../../assets/linkedin.png"
        /></a>
        <a href="https://github.com/YonchRibak" target="_blank"
          ><img src="../../../../assets/github.png"
        /></a>
      </div>
    </div>
  </div>
</div>
