<div class="list-container">
  <header>
    <i-tabler
      name="plane"
      customStyle
      [mobileStyle]="{ scale: '125%' }"
      [laptopStyle]="{ scale: '200%' }"
    />
    <h3
      customStyle
      [mobileStyle]="{ fontSize: '1.5rem' }"
      [laptopStyle]="{ fontSize: '3.5rem' }"
    >
      Don't Plan. Just Fly.
    </h3>
  </header>

  <app-vacations-data-handler
    [sortBy]="sortBy"
    [filterBy]="filterBy"
    [user]="user"
    (sortChange)="sort($event)"
    (filterChange)="toggleFilter($event)"
    (searchChange)="search($event)"
  ></app-vacations-data-handler>
  <div
    class="vacations-grid"
    customStyle
    [mobileStyle]="{ 'grid-template-columns': '1fr' }"
    [laptopStyle]="{ 'grid-template-columns': 'repeat(3, 1fr)' }"
    @listAnimation
    [@listAnimation]="key"
  >
    <app-vacation-card
      (vacationAltered)="receivedChangeFromChild($event)"
      *ngFor="let v of vacations; trackBy: trackByFn"
      [vacation]="v"
      @leave
    />
  </div>
  <div *isLaptop class="pagination-btns">
    <i-tabler
      name="arrow-move-left"
      *ngIf="currPage > 1"
      (click)="backwards()"
    />
    <i-tabler
      *ngIf="!(vacations?.length < 9)"
      name="arrow-move-right"
      (click)="forwards()"
    />
  </div>
  <div *isMobile #scrollAnchor></div>

  <i-tabler
    [atScrollDown]
    *isMobile
    name="arrow-badge-up"
    class="scroll-up"
    (click)="scrollToTop()"
  />
</div>
